@import "tailwindcss";

@theme {
    --color-primarywhite1: #ffffff;
    --color-primarywhite2: #f5f7f9;
    --color-primaryblack1: #28303c;
    --color-primaryblack2: #0d0d0d;
    --color-primaryblue: #3b7fff;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}