@import "tailwindcss";

@theme {
    --color-0: #ffffff;
    --color-1: #f5f7f9;
    --color-2: #28303c;
    --color-3: #0d0d0d;
    --color-4: #3b7fff;
    /* better not use it and just use opacity:50 */
    --color-5: #aebbf8;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}